<header class="site-header">
  <div class="container">
    <h1 class="site-title">
      <a href="/">
        <span class="logo-icon">🚴</span>
        <span class="logo-text">Bike Store</span>
      </a>
    </h1>
    <nav class="site-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/collections/all">Products</a></li>
        <li><a href="/pages/cafe-menu">Cafe Menu</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/account">Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>
