<header class="site-header">
  <div class="container">
    <h1 class="site-title"><a href="/">Bike Store</a></h1>
    <nav class="site-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/collections/all">Shop All</a></li>
        <li><a href="/collections/mountain-bikes">Mountain Bikes</a></li>
        <li><a href="/collections/road-bikes">Road Bikes</a></li>
        <li><a href="/pages/about">About</a></li>
        <li><a href="/pages/contact">Contact</a></li>
        <li><a href="/cart">Cart ({{ cart.item_count }})</a></li>
      </ul>
    </nav>
  </div>
</header>
