<header class="site-header">
  <div class="container">
    <h1 class="site-title"><a href="/">Bike Store</a></h1>
    <nav class="site-nav">
      <ul>
        <li><a href="/collections/all">Shop</a></li>
        <li><a href="/cart">Cart</a></li>
      </ul>
    </nav>
  </div>
</header>
